.container {
    margin: 0;
    padding: 0;
    max-width: 960px;
}

.toplar {
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(-100px);
    /* transition: 0s color; */
}

#game {
    cursor: url(shekiller/cursor/cursor.cur), pointer;
    min-width: 100%;
    min-height: 600px;
    position: absolute;
    top: 0;
    background: url(shekiller/background.jpg);
}

.helps {
    position: relative;
    top: 480px;
    left: 120px;
    z-index: 99;
}

.mybutton {
    position: relative;
    right: 80px;
    min-width: 120px;
    margin: 2px;
    padding: 0.3em;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    border: 0;
    cursor: url(shekiller/cursor/cursor1.cur), pointer;
    border-radius: 28px;
}

#gameover {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    top: 225px;
    left: 310px;
    color: white;
    background: linear-gradient(to right, #030303, #ed2f3f);
    ;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

#gameoverimg {
    z-index: 99;
    position: relative;
    bottom: 100px;
    left: 220px;
}

.mybutton::before,
.mybutton::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    ;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.mybutton:hover::before {
    filter: blue(5px);
}

.mybutton:hover::after {
    filter: blue(15px);
}

.mybutton:hover {
    animation: hue 3s linear infinite;
}

@keyframes hue {
    0% {
        filter: hue-rotate(8deg)
    }
    0% {
        filter: hue-rotate(360deg)
    }
}

.mybutton span {
    position: relative;
    z-index: 3;
    display: block;
    padding: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #2c2e36;
    border-radius: 17px;
}

#haqqindashow {
    position: absolute;
    top: 0px;
    z-index: 1;
    right: 0px;
}

#haqqindashow img {
    z-index: 4;
    position: absolute;
    right: 0px;
    top: 0px;
}

#qeydiyyatshow img {
    z-index: 4;
    position: absolute;
    right: 0px;
    top: 80px;
}
.basla{
    display: none;
}
.esas{
    position: relative;
    right: 50px;
}
.melumatlar {
    height: 600px;
    width: 100%;
    position: absolute;
    left: 20px;
    border: 1px solid #2f80ed;
}

#message {
    position: absolute;
    left: 180px;
    top: 150px !important;
}

#haqqindashow span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    top: 0px;
    z-index: 5;
    width: 225px;
    position: absolute;
    right: 2px;
}

#vaxt {
    color: white;
    position: absolute;
    font-size: 40px;
}

body {
    overflow: hidden;
    background-color: black !important;
}

#xal {
    z-index: 1;
    position: absolute;
    top: 475px;
    left: 100px;
}

.lovhe {
    height: 200px;
    width: 160px;
    position: absolute;
    top: 437px;
    left: 20px;
    background: url(shekiller/xal.png);
    z-index: 0;
    background-repeat: no-repeat;
}

.xalyeri {
    height: 50px;
    width: 200px;
    background-image: red;
}

.cloud {
    z-index: 0;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 250px;
    background: url(shekiller/bulud.png);
    background-repeat: repeat-x;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 1200px;
    }
}


/* Bonuslu ve Sade Balonlar */

.sadebalon {
    /*  */
    color: white;
}

.bonusballoon::before {
    filter: black(5px);
}

.bonusballoon::after {
    filter: black(15px);
}

.bonusballoon {
    animation: hue 0.5s linear infinite;
}

@keyframes bonusbalon {
    0% {
        filter: hue-rotate(8deg)
    }
    0% {
        filter: hue-rotate(360deg)
    }
}